//bg #1c1c2c
//sec #242434

// Dark theme
$primary: #339fcd;
$primary-dark: #1164aa;
$primary-darker: #012d6c;
$primary-light: #3ea5ce;
$primary-lighter: #3bd8e9;
$secondary: #242434;
$third: #302c3c;
$fourth: #2f3142;
$gray: rgb(163, 162, 162);
$bg: #1c1c2c;
$font: #fff;
$error: rgb(231, 59, 59);

// Light theme
// $primary: #1164aa;
// $secondary: #f4f4fb;
// $third: #c8cbd6;
// $fourth: #c8cbd6;
// $font: #2d3954;
// $bg: #ffffff;
