@use "./global";
@use "./animation";

.table-wrapper {
  border-radius: 10px;
  background-color: global.$secondary;
  padding: 0.5em;
  .wrapper-header {
    position: relative;
    min-width: 10%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      color: white;
    }
  }
}

.table-slider {
  overflow: auto;
  .table-normal {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px global.$primary solid;
    tr {
      height: 3em;
      background-color: 10px;

      &:nth-child(even) {
        background-color: global.$fourth;
      }
    }
    td:last-child {
      width: 150px;
    }
    th,
    td {
      padding: 0.8em;
      text-align: center;
    }
    th:not(:last-child) {
      cursor: pointer;
      &:hover {
        color: global.$primary;
      }
    }
  }
}

details {
  padding: 0.8em;
  border: 1.5px solid #fff;
  border-radius: 5px;
  margin: 1.5em 0 0 0;
  summary::first-letter {
    text-transform: capitalize;
  }
  .array-display {
    background-color: global.$fourth;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 0.8em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-between;
    gap: 0em 0.5em;
  }
}

.search-list {
  position: absolute;
  border: 1px solid global.$font;
  border-radius: 0 0 5px 5px;
  z-index: 10;
  background-color: global.$secondary;
  max-height: 165px;
  overflow: auto;
  padding: 0.55em 0.8em 0.6em 0.8em;
  list-style: none;
  display: none;

  &.open {
    display: block;
  }

  li {
    width: 215px;
  }

  .search-list-item {
    cursor: pointer;
    padding: 0.69em 0 0.69em 0.69em;

    &:hover,
    &:focus-within {
      background-color: global.$primary;
    }

    .search-list-button {
      display: flex;
      align-items: center;
      font-size: 1em;

      div {
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        text-align: left;

        span:nth-child(2) {
          opacity: 0.5;
          font-size: 0.7em;
        }
      }
    }
  }
}
