@use "./global" as global;

article {
  .article-image {
    padding-top: 400px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .article-content {
    padding: 0em 4em 4em 4em;
    color: global.$font;
    @media (max-width: 756px) {
      padding: 1.1em;
    }
    h1 {
      font-size: 4em;
      font-weight: 800;
      @media (max-width: 780px) {
        font-size: 2em;
      }
    }

    .date {
      margin-right: 1em;
      background-color: global.$primary;
      color: global.$bg;
      font-weight: 800;
      font-size: 1.1em;
      letter-spacing: 0.2em;
      padding: 0.2em;
    }

    p {
      margin-top: 1em;
      font-size: 1.3em;
      @media (max-width: 756px) {
        font-size: 1em;
      }
      line-height: 1.4em;
      &:first-of-type::first-letter {
        font-size: 1.8em;
        color: global.$primary;
      }
    }

    .hashtags {
      color: global.$gray;
    }
  }
}
