@use "./global" as global;
@use "./animation" as animation;

.btn {
  border: none;
  padding: 0.5em;
  margin-top: 0.5em;
  width: 100%;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 1em;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: global.$font;
  outline: none;
}

.switch {
  background-color: global.$bg;
  width: 40px;
  height: 20px;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  transition: 0.35s ease-in-out;
  &::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    box-shadow: 1px 0px 5px 0px black;
    position: absolute;
    top: 0;
    right: calc(40px - 20px);
    border-radius: 100%;
    transition: 0.35s ease-in-out;
  }

  &.turned {
    background-color: global.$primary;

    &::after {
      // background-color: global.$secondary;
      right: -1px;
    }
  }
}

.language-block {
  width: 100%;
  height: 50px;
  border: 2px solid global.$primary;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include animation.shine();

  &.active {
    background-color: global.$primary;
  }

  h2 {
    color: global.$font;
  }
}

.theme {
  height: 200px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;

  &.active {
    box-shadow: 1px 0px 10px 0px global.$primary;
    border: 2px solid global.$primary;
  }

  .theme-header,
  .theme-footer {
    color: global.$font;
    text-align: left;
    padding: 0.8em;
    width: calc(100% - 1.6em);
    height: 20%;
    position: relative;
  }

  .theme-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .theme-switch {
    @media (max-width: 530px) {
      transform: rotate(90deg);
    }
  }

  .theme-footer {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .theme-circle {
    width: 50px;
    height: 50px;
    right: 10%;
    bottom: 30px;
    position: absolute;
    border-radius: 100%;
    box-shadow: 1px 0px 5px 0px black;
  }

  &.dark {
    background-color: global.$bg;
    h2 {
      color: #fff;
    }
    .theme-header {
      background-color: global.$fourth;
    }
    .theme-footer {
      background-color: global.$third;
    }
    .theme-circle {
      background-color: global.$primary;
    }
  }

  &.light {
    background-color: #e1e1e9;
    border: 2px solid #fff;
    h2 {
      color: #000;
    }
    .theme-header {
      background-color: #c8cbd6;
    }
    .theme-footer {
      background-color: #fff;
    }
    .theme-circle {
      background-color: #1164aa;
    }
  }
}

.action-btn {
  .action-tooltip {
    position: absolute;
    transform: translateX(-2em);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.511);
    background-color: global.$secondary;
    border: 1px solid global.$primary;
    border-radius: 5px;
    transform: translateY(-8%);
    transition: 0.2s;
    display: none;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      right: 3%;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent global.$primary transparent;
      pointer-events: none;
    }

    .action-row {
      min-width: 140px;
      margin: 0.3em;
      padding: 0.7em;
      font-size: 0.9em;
      color: global.$gray;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover {
        background-color: global.$bg;
        color: global.$font;
      }
    }
  }
  &:hover {
    .action-tooltip {
      display: block;
    }
  }
}

.btn-add {
  background-color: global.$fourth;
  padding: 0.8em;
  border-radius: 10px;
  margin-right: 1em;
  &:hover {
    background-color: global.$primary;
  }
}

.dropdown-btn {
  margin: 1.5em 0 0em 0;
  width: 100%;
  padding: 0.8em;
  border: 1.5px solid global.$font;
  border-radius: 5px;
  text-align: left;
  background-color: global.$secondary;
  transition: ease-in-out 0.2s;

  &:hover,
  &:focus-within {
    border-color: global.$primary;
    color: global.$primary;
  }

  .dropdown-txt {
    font-size: 1.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .options {
    color: global.$font;
    width: 100%;
    z-index: 30;
    transition: ease-in-out 0.2s;
    height: 0;
    max-height: 192px;
    overflow: auto;
    background-color: global.$secondary;

    &.open {
      display: block;
      height: auto;
    }

    .option {
      font-size: 1.4em;
      padding: 0.7em 0 0.7em 0.7em;
      margin-right: 0.2em;
      &:hover,
      &:focus-within {
        background-color: global.$primary;
      }
      &.selected {
        background-color: global.$primary-dark;
      }
    }
  }

  &.error {
    color: global.$error;
    border-color: global.$error;
  }
}

.error-msg {
  color: global.$error;
  margin-top: 0.25em;
}
