@use "./global" as global;
@use "./animation" as animation;

.btn {
  border: none;
  padding: 0.5em;
  margin-top: 0.5em;
  width: 100%;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  // outline: none;
}

.switch {
  background-color: global.$gray;
  width: 80px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  transition: 0.35s ease-in-out;
  &::after {
    content: "";
    width: 35px;
    height: 35px;
    background-color: global.$secondary;
    position: absolute;
    top: 2.5px;
    right: calc(80px - 39px);
    border-radius: 100%;
    transition: 0.35s ease-in-out;
  }

  &.turned {
    background-color: global.$primary;

    &::after {
      // background-color: global.$secondary;
      right: 4px;
    }
  }
}

.lang-dropdown {
  position: relative;
  font-size: 1.2em;
  background-color: global.$third;
  width: 200px;
  .lang {
    padding: 0.4em;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  ul {
    visibility: hidden;
    position: absolute;
    background-color: global.$third;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 0.3em;
    width: 200px;
    opacity: 0;
    transition: ease-in-out 0.2s;
    &.open {
      opacity: 1;
      visibility: visible;
      bottom: 2.3em;
    }
  }

  li {
    padding: 0.4em;
    display: flex;
    align-items: center;
    cursor: pointer;
    @include animation.shine();
  }
  img {
    margin-right: 0.5em;
  }
}
