@use "./global" as global;
@use "./animation" as animation;

.calendar {
  width: 100%;
  height: 100%;

  box-shadow: inset 0 0 0 1px global.$font;
  border-radius: 5px;
  .calendar-navigation {
    border-bottom: 0;
    padding: 0.5em;
    .this-week {
      @media (max-width: 350px) {
        display: none;
      }
      &:hover,
      &:focus-within {
        color: global.$primary;
      }
    }
    .icn {
      margin: 0 0.5em 0 0.5em;
    }
  }

  .calendar-header {
    display: flex;
    .calendar-corner {
      min-width: 70px;
      height: 70px;
      border-top: 1px solid global.$font;
      border-bottom: 1px solid global.$font;
    }
    .calendar-days {
      width: calc(100% - 70px);
      height: 70px;
      border: 1px solid global.$font;
      display: flex;
      .calendar-day {
        width: 100%;
        padding: 1em;
        border-right: 1px solid global.$font;

        &.today {
          color: global.$primary;
        }

        &:last-child {
          border-right: none;
        }

        .day-number {
          font-weight: 800;
        }
        .day-name {
          font-weight: 200;
        }
      }
    }
  }

  .calendar-content {
    height: 100%;
    display: flex;
    overflow: auto;
    position: relative;

    // Hidding scrollbar
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .calendar-hours {
    height: 1582px;
    min-width: 70px;
    border-right: 1px solid global.$font;
    .hour {
      text-align: center;
      height: 102px;
    }
  }

  .calendar-column {
    position: relative;
    height: 1582px;
    width: 100%;
    display: inline-block;

    border-right: 1px solid global.$font;

    &:last-child {
      border-right: none;
    }

    .calendar-row {
      height: 50px;
      border-bottom: 1px dashed global.$font;
      opacity: 0.3;
      &.clickable {
        &:hover {
          background-color: global.$fourth;
        }
      }
    }

    .event-list {
      position: absolute;
      top: 0;
      width: 100%;
      margin: 0 0.5em 0 0.5em;
      .no-events {
        user-select: none;
        pointer-events: none;
        height: 0;
        text-align: center;
        margin: 0.75em 1em 0 0;
      }
    }
  }

  .event-item {
    position: absolute;
    background-color: global.$secondary;
    border-radius: 5px;
    width: 90%;
    display: flex;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.511);

    &.canceled {
      text-decoration: line-through;
      opacity: 0.6;
      .event-marker {
        background: repeating-linear-gradient(
          40deg,
          global.$secondary,
          global.$secondary 2px,
          global.$primary-dark 3px,
          global.$primary-dark 6px
        );
      }
      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }

    &.clickable {
      cursor: pointer;
    }

    .event-marker {
      min-width: 5px;
      height: 100%;
      background-color: global.$primary-dark;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .event-content {
      padding: 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      .event-title {
        font-weight: 800;
        display: block;
      }
      .event-author {
        font-weight: 200;
        display: block;
      }
      .event-type {
        position: relative;
        font-size: 0.7em;
        margin-left: 0.5em;
        z-index: 1;
      }
    }

    .event-info {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
      color: global.$gray;
    }

    .event-tooltip {
      position: absolute;
      visibility: hidden;
      transform: translateY(-8%);
      opacity: 0;
      z-index: 2;
      transition: opacity 0.2s;
    }

    &:hover {
      .event-tooltip {
        top: calc(100% + 10px);
        min-width: 100%;
        background-color: global.$secondary;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.511);
        transition: 0.2s;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);

        .tooltip-wrapper {
          padding: 0.5em;
          .tooltip-title {
            color: global.$primary;
            font-size: 1.2em;
            &.canceled {
              text-decoration: line-through;
            }
          }
          span:first-child {
            font-size: 0.9em;
          }
          line-height: 1.5em;

          footer {
            display: flex;
            justify-content: space-between;
            .tooltip-icon {
              margin-right: 0.5em;
            }
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: -20px;
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;

          border-color: transparent transparent global.$secondary transparent;
        }
      }
    }
  }

  .time-marker {
    position: absolute;
    width: 100%;
    border-bottom: 2px dashed global.$primary;
    z-index: 1;
  }
}
