.graduation-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.graduation-grid {
  width: 92%;
  display: flex;

  .grid-right,
  .grid-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  @media (max-width: 756px) {
    flex-direction: column;
    width: 100%;
  }
}
