@use "./global" as global;

input {
  font-family: "Roboto", sans-serif;
  // Removing arrows - Firefox
  &[type="number"] {
    -moz-appearance: textfield;
  }

  // Removing arrows - chrome, safari, edge, opera
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.input-container {
  margin: 1.5em 0 0em 0;
  width: 100%;
  position: relative;

  input,
  textarea {
    outline: none;
    width: calc(100% - 1.6em - 3px);
    font-size: 1em;
    padding: 0.8em;
    transition: ease-in-out 0.2s;
    background-color: transparent;
    color: global.$font;

    border-radius: 5px;
    border: 1.5px solid global.$font;
  }

  textarea {
    height: 9em;
    font-family: "Roboto", sans-serif;
  }

  label {
    position: absolute;
    top: 0.7em;
    left: 0.7em;
    font-size: 1.2em;
    transition: ease-in-out 0.2s;
    pointer-events: none;
    &::first-letter {
      text-transform: capitalize;
    }
    &.hasLeadIcn {
      left: 2.6em;
    }
  }

  input:focus,
  textarea:focus {
    border-color: global.$primary;
    ~ .leading-icon {
      color: global.$primary;
    }
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    color: global.$primary;
    top: -0.6em;
    left: 0.2em;
    padding: 0 0.75em 0 0.4em;
    transform: scale(0.85);
  }

  textarea:focus ~ label,
  textarea:not(:placeholder-shown) ~ label {
    color: global.$primary;
    top: -1em;
    left: 0.1em;
    padding: 0 0.75em 0 0.4em;
    transform: scale(0.85);
  }

  input.hasLeadIcn {
    width: calc(100% - 3.5em - 3px);
    padding-left: 2.8em;
  }

  .error-msg {
    color: global.$error;
    margin-top: 0.25em;
  }
  .error-icon {
    position: absolute;
    top: 0.5em;
    right: 0.8em;
    opacity: 0;
    transition: ease-in-out 0.2s;
    color: global.$error;
  }
  .leading-icon {
    position: absolute;
    top: 0.5em;
    left: 0.8em;
    transition: ease-in-out 0.2s;
  }

  input.error {
    color: global.$error;
    border-color: global.$error;
    ~ label {
      color: global.$error;
      &::after {
        content: "*";
        position: absolute;
      }
      ~ .error-icon {
        opacity: 1;
      }
      ~ .error-msg {
        transition: 0.5s;
        display: block;
      }
      ~ .leading-icon {
        color: global.$error;
      }
    }
  }
}

.search-input {
  border-radius: 10px;
  padding: 0.4em;
  height: 1.6em;
  background-color: global.$fourth;
  display: flex;
  align-items: center;
  input {
    width: 100%;
    font-size: 0.9em;
    margin-left: 0.2em;
    background-color: transparent;
    border: none;
    outline: none;
    color: global.$font;
  }
}

.checkbox-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-top: 1.5em;

  &:hover,
  &:focus-within {
    color: global.$primary;
    .checkbox {
      border-color: global.$primary;
    }
  }

  input[type="checkbox"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  .checkbox {
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    border: 2.5px global.$font solid;
    padding: 0.1em;
    margin-right: 0.5em;
    &.checked {
      border-color: global.$primary;
      background: global.$primary;
    }
  }
}

select {
  outline: none;
  background-color: transparent;
  color: global.$font;
  border: 1.5px solid global.$font;
  border-radius: 5px;
  width: 50px;
  transition: ease-in-out 0.1s;

  &:hover,
  &:focus-within {
    border-color: global.$primary;
    color: global.$primary;
  }

  option {
    color: global.$font;
    background-color: global.$fourth;
  }
}

.data-picker {
  width: 100%;
  // position: relative;
  .name {
    background-color: global.$primary;
    padding: 1em;
  }
  .data-calendar {
    position: absolute;
    z-index: 10;
    // top: 3.1em;
    border: 1px solid global.$font;
    border-radius: 0 0 5px 5px;
    width: 285px;
    background-color: global.$fourth;
    display: none;

    &.open {
      display: block;
    }

    .data-calendar {
      width: 100%;
      height: 100%;
      background-color: red;
    }

    .data-calendar-header {
      display: flex;
      padding: 1em;
      justify-content: space-between;
      font-weight: bolder;
      background-color: global.$primary;
      span::first-letter {
        text-transform: uppercase;
      }
    }

    .data-calendar-content {
      padding: 0.3em;
      table {
        width: 100%;
        th,
        td {
          text-align: center;
        }
        td {
          transition: 0.2s ease-in-out;
          border-radius: 5px;
          border: solid 1px transparent;

          &:hover {
            border: solid 1px global.$font;
          }
          &.today {
            background-color: global.$primary;
          }
          &.other {
            opacity: 0.3;
          }
          button {
            padding: 0.5em;
          }
        }
      }
    }
  }
}

.grade-input {
  border-bottom: 1px solid transparent;
  transition: border 0.2s ease-in-out;
  form {
    display: flex;
    align-items: center;
  }
  input {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0.1em;
    color: global.$font;
    font-size: 1rem;
    text-align: center;
    outline: none;
  }
  .grade-button {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    font-size: 1rem;
    &.changed {
      color: global.$primary;
      opacity: 1;
    }
  }

  &:hover,
  &:focus-within {
    border-bottom: 1px solid global.$font;

    .grade-button {
      opacity: 1;
    }
  }
}
