@use "./global" as global;

.table {
  display: flex;
  background-color: global.$fourth;
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 0.5em;
  width: calc(100% - 1em);
  justify-content: space-around;

  .row-header,
  .row-content {
    padding: 0.3em;
  }

  .row-header {
    color: global.$primary;
    font-weight: bold;
  }

  .row,
  .row-content {
    height: 100%;
  }

  .column {
    width: 100%;
  }

  &.horizontal {
    .column {
      text-align: center;
      .row {
        display: flex;
        flex-direction: column;
        .row-content {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    // Horizontal table mobile view
    @media (max-width: 756px) {
      flex-direction: column;
      .column {
        text-align: left;
        .row {
          flex-direction: row;
          justify-content: space-between;
          .row-content {
            text-align: right;
          }
        }
      }
    }

    // Other idea for now unused
    // @media (max-width: 756px) {
    //   flex-direction: column;
    //   .column {
    //     text-align: left;
    //     .row {
    //       .row-content {
    //         display: block;
    //         text-align: left;
    //       }
    //     }
    //   }
    // }
  }

  &.vertical-tb {
    flex-direction: column;
    .column {
      .row {
        display: flex;
        flex-direction: column;
        .row-content {
          text-align: left;
        }
      }
    }
  }

  &.vertical-rl {
    flex-direction: column;
    .column {
      .row {
        display: flex;
        justify-content: space-between;
        .row-content {
          text-align: right;
        }
      }
    }
  }
}

.selection-table-wrapper {
  overflow: auto;
  .selection-table {
    border-collapse: separate;
    border-spacing: 0 0.4em;
    width: 100%;
    td {
      min-width: 100px;
      height: 2.5em;
    }
    th {
      height: 2em;
      border-bottom: 2px global.$primary solid;
    }
    tr {
      text-align: center;
      &:not(:first-child) {
        cursor: pointer;
        &:hover {
          background-color: rgba($color: global.$primary, $alpha: 0.1);
        }
        &.selected {
          background-color: global.$primary;
        }
      }
    }
  }
}

.row-action {
  margin-top: 1.5em;
  display: flex;
  background-color: global.$fourth;
  border-radius: 5px;
  .inputs-wrapper {
    overflow: auto;
    padding: 0em 1em 1em 1em;
    width: 100%;
    .inputs-container {
      display: flex;
      gap: 1em;
      min-width: 600px;
    }
  }
  .action-container {
    display: flex;
    flex-direction: column;
    width: 100px;
    border-left: 2px solid global.$primary;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
    }
  }
}

.students-table-wrapper {
  overflow: auto;
  border-radius: 10px;
  padding: 0.5em;
  background-color: global.$secondary;
  .students-table {
    width: 100%;
    border-collapse: collapse;
    td {
      text-align: center;
    }
    th,
    td {
      padding: 0.8em;
    }
    tr {
      height: 3em;
      background-color: 10px;

      &:nth-child(even) {
        background-color: global.$fourth;
      }
    }
  }
}
