@use "./global" as global;
.table {
  display: flex;
  background-color: global.$fourth;
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 0.5em;
  width: calc(100% - 1em);
  justify-content: space-around;

  .row-header,
  .row-content {
    padding: 0.3em;
  }

  .row-header {
    color: global.$primary;
    font-weight: bold;
  }

  .row,
  .row-content {
    height: 100%;
  }

  .column {
    // width: 100%;
  }

  &.horizontal {
    .column {
      text-align: center;
      .row {
        display: flex;
        flex-direction: column;
        .row-content {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    // Horizontal table mobile view
    @media (max-width: 756px) {
      flex-direction: column;
      .column {
        text-align: left;
        .row {
          flex-direction: row;
          justify-content: space-between;
          .row-content {
            text-align: right;
          }
        }
      }
    }

    // Other idea for now unused
    // @media (max-width: 756px) {
    //   flex-direction: column;
    //   .column {
    //     text-align: left;
    //     .row {
    //       .row-content {
    //         display: block;
    //         text-align: left;
    //       }
    //     }
    //   }
    // }
  }

  &.vertical-tb {
    flex-direction: column;
    .column {
      .row {
        display: flex;
        flex-direction: column;
        .row-content {
          text-align: left;
        }
      }
    }
  }

  &.vertical-rl {
    flex-direction: column;
    .column {
      .row {
        display: flex;
        justify-content: space-between;
        .row-content {
          text-align: right;
        }
      }
    }
  }
}

.table-wrapper {
  border-radius: 10px;
  background-color: global.$secondary;
  padding: 0.5em;
  .wrapper-header {
    position: relative;
    min-width: 10%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      color: white;
    }
  }

  .table-filter {
    background-color: transparent;
    border: none;
    color: global.$font;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    option {
      cursor: pointer;
      background-color: global.$third;
    }
  }
}

.table-slider {
  overflow: auto;
  .table-normal {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px global.$primary solid;
    tr {
      height: 3em;
      background-color: 10px;
      // background-color: global.$primary;

      &:nth-child(even) {
        background-color: global.$fourth;
      }
    }
    th,
    td {
      padding: 0.8em;
      text-align: center;
    }
  }
}
