//bg #1c1c2c
//sec #242434

$primary: #339fcd;
$primary-dark: #1164aa;
$primary-darker: #012d6c;
$primary-light: #3ea5ce;
$primary-lighter: #3bd8e9;
$secondary: #242434;
$third: #302c3c;
$bg: #1c1c2c;
$font: #fff;
$error: rgb(231, 59, 59);
