@import "colors.css";

/* .auth-section {
  width: 100%;
  height: 100vh;
} */

.auth-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: var(--bg-color);
}

.auth-inputs,
.auth-route {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
