@import "colors.css";

/* .auth-section {
  width: 100%;
  height: 100vh;
} */

.auth-blob {
  position: absolute;
  max-height: 100%;
}

.auth-blob.login {
  right: 0;
}

.auth-blob.remind {
  left: 0;
  transform: scaleX(-1);
}

/* .auth-blob:hover {
  left: 0;
  transition: 3s;
  transform: scaleX(-1);
} */

.auth-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  /* background-color: var(--bg); */
  position: relative;
  z-index: 1;
}

.auth-inputs,
.auth-remind {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth-remind {
  /* background-image: url("../assets/bg-auth.svg"); */
  justify-content: space-evenly;
}

.auth-remind.remind {
  order: 1;
}

.auth-inputs.remind {
  order: 2;
}

.auth-remind img {
  max-width: 100%;
}

.auth-remind p {
  width: 50%;
  padding: 0 100px 0 100px;
  font-size: 1.25em;
}

.remind-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .auth-container {
    flex-direction: column;
  }
  .auth-inputs,
  .auth-remind {
    width: 100vw;
    height: 50vh;
  }
  /* Just for tests */
  .auth-route {
    background-image: none;
  }
}
