@use "./global";

.calendar-section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .calendar {
    width: 100%;
    height: 100%;
  }
  .calendar-header {
    display: flex;
    .calendar-corner {
      min-width: 70px;
      height: 70px;
      border: 1px solid global.$font;
    }
    .calendar-days {
      width: calc(100% - 70px);
      height: 70px;
      border: 1px solid global.$font;
      display: flex;
      .calendar-day {
        width: 100%;
        padding: 1em;
        border-right: 1px solid global.$font;

        @media (max-width: 780px) {
          &:not(:nth-child(1)) {
            display: none;
          }
        }

        .day-number {
          font-weight: 800;
        }
        .day-name {
          font-weight: 200;
        }
      }
    }
  }

  .calendar-content {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;

    // Hidding scrollbar
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .calendar-hours {
    min-width: 70px;
    border: 1px solid global.$font;
    .hour {
      text-align: center;
      height: 100px;
    }
  }

  .calendar-column {
    position: relative;
    height: 1000px;
    width: 100%;
    border: 1px solid global.$font;

    @media (max-width: 780px) {
      &:not(:nth-child(2)) {
        display: none;
      }
    }

    .calendar-row {
      width: 100%;
      height: 50px;
      border-bottom: 1px dashed global.$font;
      opacity: 0.3;
    }

    .event-item {
      margin: 0 5px 0 5px;
      position: absolute;
      border-radius: 10px;
      background-color: global.$secondary;
      display: flex;

      .event-marker {
        width: 5px;
        height: 100%;
        background-color: global.$primary;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      .event-content {
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        .event-title {
          font-weight: 800;
        }
        .event-author {
          font-weight: 200;
        }
      }
    }
  }
}
