* {
  --primary: #339fcd;
  --primary-dark: #1164aa;
  --primary-darker: #012d6c;
  --primary-light: #3ea5ce;
  --primary-ligter: #3bd8e9;
  --secondary: #1e2122;
  --bg: #121212;
  --font: #fff;
  /* --main-color: #800000; */
  /* --primary: #d82020;
  --primary-dark: #9b0b0b;
  --primary-light: #e25454; */
  /* --bg-color: #001220; */
}
