.graduation-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.graduation-grid {
  width: 92%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 756px) {
    width: 100%;

    grid-template-columns: 1fr;
  }
}
