@use "./global" as global;
@use "./animation" as animation;

.table-group {
  position: relative;
  margin-bottom: 2em;
  width: 85%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.511);
  border-radius: 10px;
  overflow: hidden;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 1em;
    background-color: global.$primary;
    font-size: 1.2em;
    transition: border-radius 0.3s;
    cursor: pointer;

    // Hover animation
    @include animation.shine(0.4);

    .icon-group {
      display: flex;
    }
    .group-accor {
      display: block;
      transition: 0.5s;
      transform: rotate(0);
    }
  }
  .content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: global.$secondary;
    color: global.$font;
    padding: 0em 1em 0em 1em;
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s;
  }
  &.open {
    .header {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      .group-accor {
        transform: rotate(540deg);
      }
    }
    .content {
      padding: 1em;
      max-height: 1500px;
    }
  }

  @media (max-width: 756px) {
    width: 90%;
  }
}
