@use "./global" as global;

.input-container {
  .input {
    position: relative;
    margin: 1.5em 0 1em 0;
    input,
    textarea {
      outline: none;
      border: none;
      width: 100%;
      height: 1.5em;
      font-size: 1em;
      padding: 0.7em;
      background-color: global.$fourth;
      color: global.$font;

      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom: 1.5px solid global.$font;
    }
    textarea {
      height: 9em;
      // font-size: 1.2em;
      font-family: "Roboto", sans-serif;
    }
    label {
      position: absolute;
      top: 25%;
      left: 5%;
      font-size: 1.2em;
      transition: ease-in-out 0.3s;
      pointer-events: none;
    }

    input:focus,
    textarea:focus {
      border-color: global.$primary;
    }

    input:focus ~ label,
    input:not(:placeholder-shown) ~ label {
      color: global.$primary;
      top: -20%;
      left: 1%;
      transform: scale(0.85);
    }

    textarea:focus ~ label,
    textarea:not(:placeholder-shown) ~ label {
      color: global.$primary;
      top: -6%;
      left: 1%;
      transform: scale(0.85);
    }

    input.error {
      border-color: global.$error;
    }
    input.error ~ label {
      color: global.$error;
    }
  }
  .display-error {
    color: global.$error;
    margin-top: 0.25em;
    transition: 0.5s;
  }
}
