@use "./global" as global;

label {
  display: block;
  margin: 0.5em 0 0.5em 0;
  font-size: 20px;
}

input {
  background-color: global.$secondary;
  border: none;
  padding: 12px;
  border-radius: 15px;
  outline: none;
  color: global.$font;
  font-size: 16px;
  width: 250px;
  transition: ease 0.5s;

  &.error {
    box-shadow: inset 0px 0px 0px 2px global.$error;
    transition: ease 0.2s;
  }
}

.display-error {
  color: global.$error;
  margin-top: 0.25em;
  transition: 0.5s;
}
