@import "colors.css";

label {
  display: block;
  margin: 0.5em 0 0.5em 0;
  font-size: 20px;
}

input {
  background-color: var(--secondary);
  border: none;
  padding: 12px;
  border-radius: 15px;
  outline: none;
  color: var(--font);
  font-size: 16px;
  width: 250px;
}

.input-error {
  color: rgb(231, 59, 59);
  margin-top: 0.25em;
}
