@import "colors.css";

label {
  display: block;
  margin: 0.5em 0 0.5em 0;
  font-size: 20px;
}

input {
  background-color: var(--secondary);
  border: none;
  padding: 12px;
  border-radius: 15px;
  outline: none;
  color: var(--font);
  font-size: 16px;
  width: 250px;
  transition: ease 0.5s;
}

input.error {
  box-shadow: inset 0px 0px 0px 2px rgb(231, 59, 59);
  transition: ease 0.2s;
}

.display-error {
  color: rgb(231, 59, 59);
  margin-top: 0.25em;
  transition: 0.5s;
}
