@use "_global" as global;
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(black, 0.5);

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    flex-direction: column;
    background-color: global.$secondary;
    padding: 2em;
    border-radius: 10px;
    width: 70%;

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .modal-close {
        color: global.$font;
      }
    }

    .modal-body {
      border-bottom: 2px solid rgba(global.$primary, 1);
      padding-bottom: 1em;
    }

    .modal-footer {
      padding-top: 1em;
    }
  }
}
