@use "./global" as global;
.nav-bar {
  // position: fixed;
  width: 300px;
  height: 100%;
  background-color: global.$secondary;
  transition: 0.5s;
  border-right: 2px solid global.$bg;

  &.hidden {
    width: 80px;
  }

  .nav-header {
    height: 50px;
    display: flex;
    justify-content: space-evenly;

    .nav-logo {
      width: 50%;
      white-space: nowrap;

      // Centering placeholder text
      display: flex;
      align-items: center;
      justify-content: center;

      &.hidden {
        width: 0px;
        opacity: 0;
        // Animation not working yet
        display: none;
        transition: 0.5s;
      }
    }

    .nav-hamburger {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;

      // Not sure if this is even needed
      &:hover {
        .hamburger-line {
          animation: blink 1s alternate;

          @keyframes blink {
            30% {
              background-color: global.$font;
            }
            60% {
              background-color: global.$primary;
            }
            100% {
              background-color: global.$font;
            }
          }
        }
      }

      .hamburger-line {
        width: 25px;
        height: 2px;
        background-color: white;
        margin: 3px;
        align-items: center;
        transition: 0.5s;

        &.active {
          width: 33px;
        }

        &.active:nth-child(1) {
          background-color: global.$primary;
          transform: rotate(45deg) translateY(11px);
        }
        &.active:nth-child(2) {
          transform: translateX(30px);
          opacity: 0;
        }
        &.active:nth-child(3) {
          background-color: global.$primary;
          transform: rotate(-45deg) translateY(-11px);
        }
      }
    }
  }

  .nav-items {
    overflow-y: auto;

    height: calc(100% - 50px - 2em);
    padding: 1em 0.75em;
  }

  .wrapper {
    height: calc(100% - 50px);
  }

  .user-info {
    width: 100%;
    height: 50px;
    background-color: global.$primary-dark;
    // position: relative;
    // bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      width: 100%;

      text-decoration: none;
      color: global.$font;
      height: 50px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: global.$primary;
      }
      .logout-icon {
        transform: scaleX(-1);
      }
    }
  }
}

@media (max-width: 756px) {
  .nav-bar {
    position: fixed;

    &.hidden {
      position: absolute;
      z-index: 1;
      transform: translateX(-80px);
      .nav-hamburger {
        position: absolute;
        left: 90px;
        top: 10px;
      }
    }
  }
}
