@use "./global" as global;

//bg #1c1c2c
//sec #242434

.nav-item {
  list-style: none;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  &:hover {
    background-color: global.$primary;
  }

  .nav-link {
    text-decoration: none;
    color: global.$font;

    display: flex;
    align-items: center;

    .nav-name {
      white-space: nowrap;
      margin-left: 25px;
      margin-right: 25px;
      font-size: 18px;
      transition: 0.5s;
      &.hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        display: none;
      }
    }
    .nav-icon {
      margin: 15px;
    }
  }
}
