@use "./global" as global;

//bg #1c1c2c
//sec #242434

.nav-item {
  list-style: none;
  cursor: pointer;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &:hover {
    background-color: global.$primary;
  }

  // &.open {
  //   &:hover {
  //     background-color: red;
  //   }
  //   .extra-info {
  //     transition: max-height 0.5s;

  //     max-height: 3000px;
  //   }
  // }

  .extra-info {
    transition: max-height 0.5s;
    max-height: 0px;
    &.open {
      transition: max-height 0.5s;
      max-height: 250px;
    }
  }

  .nav-link {
    text-decoration: none;
    color: global.$font;

    display: flex;
    align-items: center;

    .nav-name {
      white-space: nowrap;
      margin-left: 25px;
      margin-right: 25px;
      font-size: 18px;
      transition: 0.5s;
      &.hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        display: none;
      }
    }
    .nav-icon {
      margin: 15px;
    }
  }
}
