.student-section {
  display: flex;
  @media (max-width: 756px) {
    display: block;
  }
}

.left-column,
.right-column {
  width: 100%;
  display: flex;
}

.left-column {
  flex-direction: column;
  align-items: center;
}

.right-column {
  justify-content: center;
}
