@use "./styles/global" as global;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: global.$bg;
  color: #fff;
}

::-webkit-scrollbar {
  background-color: rgba($color: global.$bg, $alpha: 0.8);
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: global.$primary;
  border-radius: 10px;
}

.error-toast {
  background: global.$fourth !important;
  color: global.$font !important;
}

html,
body {
  height: 100%;
}

.container {
  height: 100%;
}
